.elementor .e-d0087b5-f08efda {
  font-family: Tajawal;
  font-size: 30px;
  align-self: center;
}
.elementor .e-b620718-460577e {
  color: #e8e8e8;
  text-align: center;
}
.elementor .e-9b333c1-d882cc6 {
  font-family: Tajawal;
  font-size: 30px;
  align-self: center;
}
.elementor .e-8049167-42b2872 {
  color: #e8e8e8;
  text-align: center;
}
.elementor .e-d4f706b-a879511 {
  font-family: Tajawal;
  font-size: 30px;
  align-self: center;
}
.elementor .e-c92c36c-d805b9f {
  color: #e8e8e8;
  text-align: center;
}
