@media (max-width: 767px) {
  .elementor .e-d0087b5-f08efda {
    font-size: 25px;
    line-height: 27px;
    margin: -14px;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .elementor .e-b620718-460577e {
    font-size: 14px;
    color: #d4d4d4;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor .e-9b333c1-d882cc6 {
    font-size: 25px;
    line-height: 27px;
    margin-block-start: 0px;
    margin-block-end: -15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .elementor .e-8049167-42b2872 {
    font-size: 14px;
    color: #d4d4d4;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor .e-d4f706b-a879511 {
    font-size: 25px;
    line-height: 27px;
    margin-block-end: -15px;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .elementor .e-c92c36c-d805b9f {
    font-size: 14px;
    color: #d4d4d4;
    text-align: center;
  }
}
